#app{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 200px 1fr;
}

.header{
  position: relative;
  display: grid;
  place-items: center;
  background-color: $color-gray-700;
}

%active{
  cursor: pointer;
  &:active{
    transform: scale(0.98);
  }
}

.input_wrapper{
  position: absolute;
  bottom: calc($height-input-wrapper / 2 * -1);
  display: flex;
  gap: 8px;
  width: 100%;
  padding: 0 20px;
  justify-content: center;
  .input{
  background-color: $color-gray-500;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  max-width: 638px;
  border: none;
  outline: 1px solid $color-gray-700;
  color: $color-gray-300;
  &:focus-visible{
    outline: 1px solid $color-blue-dark;
  }
  }
  .button{
    background-color: $color-blue-dark;
    color: $color-gray-100;
    border-radius: 8px;
    width: 90px;
    height: 52px;
    display: flex;
    justify-content: center;
    place-items: center;
    gap: 8px;
    font-weight: 700;
    border: none;
    @extend %active;
    transition: background-color 0.3s linear;
    &:hover{
      background-color: $color-blue;
    }
  }
}
